.errorContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  height: 140px;
  width: 600px;
  border: 3px solid red;
  text-align: center;
}

.postList {
  display: flex;
  flex-direction: column;
}
